.collapsable-navigation-container {
    background-color: white;
    height: 65px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    position: sticky;
    top: 0;
    width: 100%;
    .mobile-logo {
        height: 100%;
        margin-left: 10px;
        margin-top: 1px;
    }
}