.placement-stats-container {
  display: grid;
  grid-gap: 25px;
  margin-top: 35px;
  padding: 0 40px;
  width: 100%;
  .table-content {
    margin-top: 20px;

    .filter-container {
      display: flex;
      justify-content: flex-start;
      background-color: white;
      flex-wrap: wrap;
      align-items: flex-end;
      margin-top: 20px;
      .year-picker {
          width: 150px;
          margin-right: 20px;
          .picker-input {
              width: 150px;
              border: 1px solid rgba(204, 204, 204, 0.623);
              padding: 10px 5px;
          }
      }
      .department-picker {
          width: 300px;
          margin-right: 15px;
          .picker-input {
              width: 300px;
              border: 1px solid rgba(204, 204, 204, 0.623);
              padding: 10px 5px;
          }
      }
      .search-button {
        border: none;
        background-color: #3761EE;
        color: #FFFFFF;
        padding: 5px 15px;
        border-radius: 100px;
        cursor: pointer;
        margin-left: 10px;
        font-size: 0.8rem;
        margin-bottom: 15px;
    }
    }
  }

}

@media (max-width:530px) {
  .placement-stats-container {
    padding: 0 10px;
    grid-gap: 15px;
  }
}