.info-container {
    display: flex;
    margin-top: 5px;
    min-width: 100%;

}

.first-post {
    margin-top: 15px;
}

.last-post {
    margin-bottom: 15px;
}

.info-value {
    margin: 0;
    margin-left: 10px;
    width: 85%;
}

.hr-logo {
    width: 20px;
    height: 20px;
}