.login-container {
    background-color: #fff;
    min-height: 100vh;

    .header-container {
        width: 90%;
        margin: 0 auto;
        .logo {
            height: 80px;
            margin: 20px 0;
        }
    }
    .main-container {
        background-color: #004aad;
        display: flex;
        align-items: center;

        .hero-illustration-container {
            flex: 0.6;
            display: flex;
            justify-content: center;
            align-items: center;
            .hero-image {
                width: 100%;
                object-fit: contain;
            }
        }

        .main-box {
            background-color: white;
            flex: 0.4;
            padding: 20px 0px;
            font-weight: 500;
            margin: 50px;
            border-radius: 10px;
            .welcome-tag {
                color: #444;
                font-weight: 500;
                font-size: 1.5rem;
                padding: 0 15px;
                margin: 0;
            }
            .sub-tag {
                color: #444;
                font-weight: 400;
                font-size: 1.1rem;
                margin: 0;
                margin-top: 2px;
                padding: 0 15px;
            }
            .labels {
                padding: 0 40px;
                .new-account-label {
                    color: #3761ee;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }

        .separator {
            height: 4px;
            color: #d1e4fd;
            margin-top: 40px;
        }

        .bottom-options {
            display: flex;
            flex-direction: row;
            .labels {
                padding-left: 50px;
                padding-right: 10px;
            }
            .label-button {
                padding-left: 0px;
            }
        }
    }

    .login-feature-container {
        width: 90%;
        margin: 0 auto;
        background-image: url("../../assets/testimonials-bg.svg");
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 50px;
        .feature-image {
            width: 100%;
            aspect-ratio: 16 / 9;
            max-height: 500px;
            object-fit: contain;
            margin: 40px 0;
            box-shadow: 2px 2px 20px #b8b8b8;
            background-color: white;
            border-radius: 10px;
        }
    }
}

@media (max-width: 1100px) {
    .login-container {
        background-color: #fff;
        min-height: 100vh;

        .header-container {
            width: 90%;
            margin: 0 auto;
            .logo {
                height: 80px;
                margin: 20px 0;
            }
        }
        .main-container {
            background-color: #004aad;
            display: flex;
            align-items: center;

            .hero-illustration-container {
                flex: 0.5;
            }

            .main-box {
                background-color: white;
                flex: 0.5;
            }
        }
    }
}


@media (max-width:900px) {
    .login-container {
        background-color: #fff;
        min-height: 100vh;

        .header-container {
            width: 90%;
            margin: 0 auto;
            .logo {
                height: 80px;
                margin: 20px 0;
            }
        }
        .main-container {
            background-color: #004aad;
            display: flex;
            align-items: center;
            flex-direction: column;
            .hero-illustration-container {
                flex: 1;
                .hero-image {
                    width: 100%;
                    height: 300px;
                    object-fit: contain;
                }
            }

            .main-box {
                background-color: white;
                flex: 0.5;
                margin-top: 0;
                margin: 0;
                width: 90%;
                margin-bottom: 40px;
            }
        }
    }
}