.manage-company-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;

  .manage-content {
    .company-list-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
        margin-top: 20px;
        justify-content: space-evenly;
      .title-button-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px;

        .section-title {
            font-size: 1.4rem;
            font-weight: 600;
            color: #444;
            margin: 0;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .button {
            border: none;
            background-color: #3761EE;
            color: #FFFFFF;
            padding: 5px 30px;
            border-radius: 5px;
            cursor: pointer;
            font-weight: 600;
        }
    }
    .table {
      width: 95%;
      margin: 15px auto;
      .table-body {
          .upgrade-button {
              border: none;
              background-color: #3761EE;
              color: #FFFFFF;
              padding: 5px 15px;
              border-radius: 20px;
              cursor: pointer;
              align-self: center;
              margin-left: 10px;
              font-size: 0.8rem;
          }
      }
  }

      .loading-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        .empty-label {
          font-size: 0.9rem;
          color: #969696;
          user-select: none;
        }

      }
    }
  }

}

@media (max-width:500px) {
  .manage-company-container {
    padding: 10px;
  
    .manage-content {
      .company-list-container {
        .title-button-container {
          display: flex;
          flex-direction: column;
          padding: 10px;
  
          .section-title {
              font-size: 1.2rem;
              align-self: flex-start;
          }
          .button {
            align-self: flex-end;
              border: none;
              margin-bottom: 20px;
          }
      }
      .table {
        width: 95%;
        margin: 15px auto;
        .table-body {
            .upgrade-button {
                border: none;
                background-color: #3761EE;
                color: #FFFFFF;
                padding: 5px 15px;
                border-radius: 20px;
                cursor: pointer;
                align-self: center;
                margin-left: 10px;
                font-size: 0.8rem;
            }
        }
    }
  
        .loading-container {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 20px;
          .empty-label {
            font-size: 0.9rem;
            color: #969696;
            user-select: none;
          }
  
        }
      }
    }
  
  }
}