.assessment-results-container {
    margin-top: 35px;
    padding: 0 40px;
    width: 100%;
    display: flex;
    flex-direction: column;

    p {
        margin: 0;
        padding: 0;
    }

    .content {
        background: #FFFFFF;
        box-shadow: 0px 0px 14px -1px #E5E5E5;
        border-radius: 5px;
        border: none;
        padding: 15px;
        margin-top: 20px;
        
        .picker-dropdown-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
    
            .filters-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
    
            .department-picker {
                width: 300px;
                margin-right: 15px;
                margin-bottom: 20px;
                .picker-input {
                    border: 1px solid rgba(204, 204, 204, 0.623);
                    padding: 10px 5px;
                }
            }
        }
    }
}

@media (max-width:500px) {
    .assessment-results-container {
    
        .content {
            .picker-dropdown-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
        
                .filters-container {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                }
        
                .department-picker {
                    width: 300px;
                    margin-right: 15px;
                    margin-bottom: 20px;
                    .picker-input {
                        border: 1px solid rgba(204, 204, 204, 0.623);
                        padding: 10px 5px;
                    }
                }
            }
        }
    }
}