.home-content-container {
    display: grid;
    grid-gap: 25px;
    margin-top: 35px;
    padding: 0 20px 30px;
    margin: 10px;
    

    p {
        margin: 0;
        padding: 0;
    }

    .table-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
        margin-top: 20px;
        justify-content: space-evenly;

        .tabs-container {
            display: flex;
            flex-direction: row;
            padding: 20px;
            flex-wrap: wrap;
            .selected {
                color: #52E1E2;
                font-size: 1rem;
                font-weight: 600;
                cursor: pointer;
                text-decoration: underline;
                margin-right: 10px;
            }
            .unselected {
                color: #52E1E2;
                font-size: 1rem;
                font-weight: 600;
                cursor: pointer;
                margin-right: 10px;
                
            }
        }

        .section-title {
            font-size: 1.2rem;
            font-weight: 600;
            color: #444;
            margin-left: 20px;
            margin-top: 20px;
        }
        .section-subtitle {
            font-size: 1rem;
            font-weight: 500;
            color: #444;
            margin-left: 20px;
            margin-top: 5px;
        }

        .table {
            width: 95%;
            margin: 15px auto;
            .table-body {
                .upgrade-button {
                    border: none;
                    background-color: #3761EE;
                    color: #FFFFFF;
                    padding: 5px 15px;
                    border-radius: 20px;
                    cursor: pointer;
                    align-self: center;
                    margin-left: 10px;
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@media (max-width:450px) {
    .home-content-container {
        padding: 0;
    }
}