.checkbox-filters-value {
    max-height: 150px;
    overflow-y: scroll;
}
.checkbox-filters-title {
    margin-bottom: 10px;
}

.score-filter-holder {
    display: flex;
    justify-content: space-between;
}