.table-content {
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    .section-title {
        font-weight: 600;
        font-size: 1.4rem;
        margin: 0;
        margin-top: 10px;
       
    }

    .no-vacancy-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        .no-vacancy-label {
            color: rgb(168, 168, 168);
        }
    }

    .loading-container {
        width: 100%;
        padding: 60px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .arrow-icon {
        margin-left: 5px;
    }
}
