.sidebar-navigation-container {
    user-select: none;
    .option-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: white;
        margin: 0 5px;
        border-radius: 10px;
        cursor: pointer;
        padding: 5px 0;
        padding-left: 20px;
        margin-top: 20px;
        .option-container-title {
            margin-left: 20px;
            margin-top: 8px;
            font-size: 17px;
            font-weight: 600;
        }
    }
    .selected-option-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #3762ee1e;
        margin: 0 5px;
        border-radius: 10px;
        cursor: pointer;
        padding: 5px 0;
        padding-left: 20px;
        margin-top: 20px;
        .option-container-title {
            color: #3761ee;
            font-weight: 600;
            margin-left: 20px;
            margin-top: 8px;
            font-size: 17px;
        }
    }
}

@media (max-width: 900px) {
    .sidebar-navigation-container {
       
        .option-container {
            padding-left: 20px;
           
            .option-container-title {
                margin-left: 15px;
                font-size: 15px;
            }
        }
        .selected-option-container {
            padding-left: 20px;
            .option-container-title {
                margin-left: 15px;
                font-size: 15px;
            }
        }
    }
}

@media (max-width: 700px) {
    .sidebar-navigation-container {
       
        .option-container {
            padding-left: 10px;
            margin-top: 10px;
            .option-container-title {
                margin-left: 10px;
                font-size: 13px;
            }
        }
        .selected-option-container {
            padding-left: 10px;
            margin-top: 10px;
            .option-container-title {
                margin-left: 10px;
                font-size: 13px;
            }
        }
    }
}


