.action-bar-component {
    background: white;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        height: 70px;
        cursor: pointer;
        margin-left: 20px;
    }

    .profile-image {
        width: 60px;
        height: 60px;
        cursor: pointer;
    }

    .company-logo {
        cursor: pointer;
        height: 100%;
    }
}

@media (max-width: 650px) {
    .action-bar-component {

        .logo {
            height: 70px;

        }

        .profile-image {
            width: 40px;
            height: 40px;
            cursor: pointer;
        }

        .company-logo {
            cursor: pointer;
            height: 80px;
        }
    }
}