.signup-box-container {
    margin-top: 35px;
    position: relative;
    padding: 0 50px;
    .input-container {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        .label {
            margin-left: 10px;
            margin-bottom: 5px;
        }
        .input {
            border: none;
            background: #ffffff;
            box-shadow: 0px 0px 14px -1px #e5e5e5;
            border-radius: 9px;
            padding: 15px 20px;
        }

        .address-field {
            min-height: 180px;
        }

        .password {
            letter-spacing: 5px;
        }

        .error-label {
            font-size: 13px;
            margin-left: 10px;
            margin-top: 5px;
            color: red;
        }
    }
    .button-container {
        margin-top: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .continue-login-span {
            margin-top: 30px;
        }
        .login-button {
            min-width: 200px;
            font-weight: 600;
        }

        .forgot-password {
            cursor: pointer;
            color: #3761ee;
        }
    }
}

@media (max-width: 600px) {
    .signup-box-container {
        padding: 0 20px;
        .button-container {
            margin-top: 35px;
            display: flex;
            flex-direction: column;
            .login-button {
                min-width: 200px;
                font-weight: 600;
            }

            .forgot-password {
                cursor: pointer;
                margin-top: 20px;
            }
        }
    }
}
