.add-post-content-container {
    margin-top: 35px;
    padding: 0 40px;
    width: 100%;
    .add-post-form-container {
        background-color: white;
        padding: 10px 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-top: 25px;
        margin-bottom: 50px;
        .section-title {
            font-weight: 600;
            font-size: 1.4rem;
            margin: 0;
            margin-top: 10px;
        }

        .main-form-container {
            margin-top: 20px;
            .main-form {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 15px;

                .text-label {
                    font-weight: 500;
                    margin-left: 10px;
                }

                .text-input {
                    background: #ffffff;
                    box-shadow: 0px 0px 14px -1px #e5e5e5;
                    border-radius: 9px;
                    border: none;
                }

                .first-half {
                    grid-column: 1 / 2;
                }

                .second-half {
                    grid-column: 2 / 3;
                }
                .end-to-end {
                    grid-column: 1 / 3;
                    .text-area {
                        min-height: 100px;
                    }
                }

                .submit-button {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media (max-width: 530px) {
    .add-post-content-container {
        padding: 0 10px;
        grid-gap: 15px;
    }
}

@media (max-width: 450px) {
    .add-post-content-container {
        .add-post-form-container {
            margin-top: 10px;

            .main-form-container {
                margin-top: 20px;
                .main-form {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 15px;

                    .first-half {
                        grid-column: 1 / 3;
                    }

                    .second-half {
                        grid-column: 1 / 3;
                    }
                    .end-to-end {
                        grid-column: 1 / 3;
                        .text-area {
                            min-height: 100px;
                        }
                    }
                    .submit-button {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
