.home-container {
    background-color: #dbe9ff;
    height: 100vh;
    display: flex;
    .sidebar {
        width: 350px;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        
        .logo {
            width: 60%;
            height: 150px;
            object-fit: contain;
            margin: 0 auto;
            cursor: pointer;
        }
    }
    .content {
        flex: 1;
        overflow-y: scroll;
        .collapsable-sidebar-wrapper {
            display: none;
            
        }
    }
}

@media (max-width: 1100px) {
    .home-container {
        .sidebar {
            width: 280px;
            display: flex;
            .logo {
                height: 100px;
            }
        }
        .content {
            .collapsable-sidebar-wrapper {
                display: none;
            }
        }
    }
}

@media (max-width: 900px) {
    .home-container {
        .sidebar {
            width: 180px;
            display: flex;
        }
        .content {
            .collapsable-sidebar-wrapper {
                display: none;
            }
        }
    }
   
}

@media (max-width: 700px) {
    .home-container {
        .sidebar {
            display: none;
        }

        .content {
            .collapsable-sidebar-wrapper {
                display: flex;
            }
        }
    }
}

@media (max-width: 450px) {
    .home-container {
        max-width: 100%;
        .sidebar {
           display: none;
        }
        .content {
            flex: 1;
            overflow-y: scroll;
            .collapsable-sidebar-wrapper {
                display: flex;
            }
        }
    }
}
