.company-profile-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #dbe9ff;
    min-height: 100vh;

    p{
        padding: 0;
        margin: 0;
    }

    .back-logo-container {
      display: flex;
      flex-direction: row;
      align-items: center;

      .logo {
          width: 200px;
          margin-left: 10px;
      }
    }
  .company-profile-content {
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
    .section-title {
        font-size: 1.2rem;
        font-weight: 700;
        color: #444;
        margin-left: 20px;
    }

    .profile-logo-container {
      margin-bottom: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .profile-logo {
        width: 120px;
        height: 120px;
        margin: 0 auto;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 14px;
        border: 1px solid #3761EE;
        margin-bottom: 10px;
      }
      .click-upload-message {
        font-size: 0.8rem;
        font-weight: 600;
        color: #838383;
      }
    }


    .main-form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      .text-label {
        font-weight: 500;
        margin-left: 10px;
      }

      .text-input {
        background: #ffffff;
        box-shadow: 0px 0px 14px -1px #e5e5e5;
        border-radius: 9px;
        border: none;
      }

      .first-half {
        grid-column: 1 / 2;
      }

      .second-half {
        grid-column: 2 / 3;
      }

      .end-to-end {
        grid-column: 1 / 3;
      }
    }
  }
}

@media (max-width: 650px) {
  .company-profile-container {
    .company-profile-content {
      .main-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        .text-label {
          font-weight: 500;
          margin-left: 10px;
        }

        .text-input {
          background: #ffffff;
          box-shadow: 0px 0px 14px -1px #e5e5e5;
          border-radius: 9px;
          border: none;
        }

        .first-half {
          grid-column: 1 / 3;
        }

        .second-half {
          grid-column: 1 / 3;
        }

        .end-to-end {
          grid-column: 1 / 3;
        }
      }
    }
  }
}

@media (max-width: 530px) {
  .company-profile-container {
    padding: 0 10px;
    grid-gap: 15px;
    .back-logo-container {
    
      .logo {
          width: 150px;
          margin-left: 0;
      }
  }
  }
}

@media (max-width: 450px) {
  .company-profile-container {

  }
}
