.numerical-details-main-container {
    background-color: white;
    border-radius: 10px;
    .stats-filter-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 30px;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        margin-top: 20px;
        .filter-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            background-color: white;
            flex-wrap: wrap;
            align-items: flex-end;
            .year-picker {
                min-width: 100px;
                .picker-input {
                    border: 1px solid rgba(204, 204, 204, 0.623);
                    padding: 10px 5px;
                    margin-right: 10px;
                }
            }
            .department-picker {
                min-width: 200px;
                margin-right: 15px;
                .picker-input {
                    border: 1px solid rgba(204, 204, 204, 0.623);
                    padding: 10px 5px;
                }
            }
            .search-button {
                border: none;
                background-color: #3761ee;
                color: #ffffff;
                padding: 5px 15px;
                border-radius: 100px;
                cursor: pointer;
                margin-left: 10px;
                font-size: 0.8rem;
                margin-bottom: 15px;
            }
        }

        .stats-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            grid-gap: 20px;
            width: 100%;
            margin-top: 10px;
            justify-content: space-evenly;
            .tag-data-container {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                margin-right: 30px;

                .tag {
                    font-weight: 500;
                    color: rgb(107, 107, 107);
                    font-size: 0.8rem;
                }
                .data {
                    font-weight: 700;
                    color: #444;
                    font-size: 1.5rem;
                }
                .conclusion {
                    font-weight: 600;
                    color: rgb(13, 182, 22);
                    font-size: 1rem;
                    text-align: end;
                    margin-top: 10px;
                    width: 100%;
                }
            }
            .stat-bar {
                width: 2px;
                height: 80px;
                background-color: #f0f3f7;
                border-radius: 10px;
                margin-left: 30px;
                margin-right: 30px;
            }
        }
    }
}

@media (max-width: 1066px) {
    .numerical-details-main-container {
        .numerical-details-content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            .details-list-content {
                display: flex;
                flex-direction: column;

                .details-title {
                    font-size: 1.2rem;
                }
                .details-value {
                    font-size: 2rem;
                }
            }

            .saperator {
                display: none;
            }
        }
    }
}

@media (max-width: 450px) {
    .numerical-details-main-container {
        background-color: white;
        border-radius: 10px;

        .stats-filter-container {
            display: flex;
            flex-direction: column;
            padding: 30px;
            background-color: #fff;
            border-radius: 10px;
            margin-top: 20px;
            .filter-container {
                max-width: 100vw;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                background-color: white;
                flex-wrap: wrap;
                align-items: flex-end;
                .year-picker {
                    width: 85%;
                    .picker-input {
                        border: 1px solid rgba(204, 204, 204, 0.623);
                        padding: 10px 5px;
                        margin-right: 10px;
                    }
                }
                .department-picker {
                    margin-right: 15px;
                    width: 85%;
                    .picker-input {
                        border: 1px solid rgba(204, 204, 204, 0.623);
                        padding: 10px 5px;
                    }
                }
                .search-button {
                    border: none;
                    background-color: #3761ee;
                    color: #ffffff;
                    padding: 5px 15px;
                    border-radius: 100px;
                    cursor: pointer;
                    margin-left: 0;
                    font-size: 0.8rem;
                    margin-bottom: 15px;
                }
            }
        }
    }
}
