.add-edit-student-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #dbe9ff;
  min-height: 100vh;

  p{
      padding: 0;
      margin: 0;
  }

  .back-logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .logo {
        width: 200px;
        margin-left: 10px;
    }
  }
  

  .add-edit-student-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 20px;

    .section-title {
      font-size: 1.2rem;
      font-weight: 600;
      color: #444;
      margin-top: 20px;
    }

    .form-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
      margin-top: 20px;
      
      .text-label {
        font-weight: 500;
        margin-left: 10px;
      }
  
      .text-input {
        background: #ffffff;
        box-shadow: 0px 0px 14px -1px #e5e5e5;
        border-radius: 9px;
        border: none;
        padding: 12px 20px;
      }
  
      .first-half {
        grid-column: 1 / 2;
      }
  
      .second-half {
        grid-column: 2 / 3;
      }
  
      .end-to-end {
        grid-column: 1 / 3;
      }
  
      .submit-button {
        width: 200px;
        margin: 0 auto;
      }
    }
  }
  
}

@media (max-width: 700px) {
  .add-edit-student-container {
    padding: 20px;
  }
}


@media (max-width: 500px) {
  .add-edit-student-container {
    padding: 10px;
    .back-logo-container {
      .logo {
          width: 150px;
          margin-left: 0;
      }
    }
    
  
    .add-edit-student-content {
      padding: 10px;
  
      .form-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
        margin-top: 20px;
        
        .text-label {
          font-weight: 500;
          margin-left: 10px;
        }
    
        .text-input {
          background: #ffffff;
          box-shadow: 0px 0px 14px -1px #e5e5e5;
          border-radius: 9px;
          border: none;
          padding: 12px 20px;
        }
    
        .first-half {
          grid-column: 1 / 3;
        }
    
        .second-half {
          grid-column: 1 / 3;
        }
    
        .end-to-end {
          grid-column: 1 / 3;
        }
    
        .submit-button {
          width: 200px;
          margin: 0 auto;
        }
      }
    }
    
  }
}