.upload-spreadsheet-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #dbe9ff;
  min-height: 100vh;

  p{
      padding: 0;
      margin: 0;
  }

  .back-logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .logo {
        width: 200px;
        margin-left: 10px;
    }
}
  .upload-spreadsheet-content {
    margin-top: 20px;
    padding: 0 20px;
    width: 100%;

    .title {
      font-size: 1.2rem;
      font-weight: 600;
      color: #444;
      margin-top: 20px;
    }
    .sub-title {
        font-size: 1rem;
        font-weight: 500;
        color: #444;
    }

    .filter-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: flex-end;
      width: 100%;
      background-color: #fff;
      border-radius: 10px;
      margin-top: 20px;
      padding: 20px;

      .year-picker {
          min-width: 100px;
          .picker-input {
              border: 1px solid rgba(204, 204, 204, 0.623);
              padding: 10px 5px;
              margin-right: 10px;
          }
      }
      .department-picker {
          min-width: 200px;
          margin-right: 15px;
          .picker-input {
              border: 1px solid rgba(204, 204, 204, 0.623);
              padding: 10px 5px;
          }
        }
    }
    
    .uploader-box {
      border: 1px dashed black;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px;
      cursor: pointer;
      margin-top: 30px;
      flex-direction: column;
      background-color: #fafafd;
      border-radius: 10px;
      .uploader-icon {
        width: 150px;
      }
  
      &:hover {
        transition-duration: 1s;
        background-color: #eeeeee;
      }
  
    }
  
    .student-list-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 100%;
      background-color: #fff;
      border-radius: 10px;
      margin-top: 20px;
      padding: 20px;
      .student-list-title-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: white;
        padding: 20px 0px;
  
        .college-name-container {
          .college-name {
            color: #707070;
            font-weight: 400;
            margin-top: 0;
          }
        }
        .button-container {
          display: flex;
          .confirm-button {
            margin-right: 10px;
          }
        }
      }
      .student-lists-directory {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
        margin-top: 20px;
        justify-content: space-evenly;
        .table {
            width: 100%;
            margin: 15px auto;
            .table-body {
                .upgrade-button {
                    border: none;
                    background-color: #3761EE;
                    color: #FFFFFF;
                    padding: 5px 15px;
                    border-radius: 20px;
                    cursor: pointer;
                    align-self: center;
                    margin-left: 10px;
                    font-size: 0.8rem;
                }
            }
        }
  
      }
    }
  
    .bottom-button-container {
      display: none;
      justify-content: center;
      align-items: center;
      padding: 20px 0;
      position: sticky;
      bottom: 0;
      background-color: white;
      padding-bottom: 50px;
    }
  }
}


@media (max-width: 700px) {
  .upload-spreadsheet-container {
    padding: 20px;
  }
}

@media (max-width: 500px) {
  .upload-spreadsheet-container {
    padding: 10px;

    .back-logo-container {
      .logo {
          width: 150px;
          margin-left: 0;
      }
    }
    .upload-spreadsheet-content {
      padding: 0 10px;
  
      
      .uploader-box {
        border: 1px dashed black;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        cursor: pointer;
        margin-top: 30px;
        flex-direction: column;
        background-color: #fafafd;
        border-radius: 10px;
        .uploader-icon {
          width: 150px;
        }
    
        &:hover {
          transition-duration: 1s;
          background-color: #eeeeee;
        }
    
      }
    
      .student-list-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
        margin-top: 20px;
        padding: 20px;
        .student-list-title-container {
          display: flex;
          flex-direction: column;
    
          .college-name-container {
            align-self: flex-start;
            .college-name {
              color: #707070;
              font-weight: 400;
              margin-top: 0;
            }
          }
          .button-container {
            display: flex;
            align-self: flex-end;
            margin-top: 20px;
            .confirm-button {
              margin-right: 10px;
            }
          }
        }
        .student-lists-directory {
          display: flex;
          flex-direction: column;
          width: 100%;
          background-color: #fff;
          border-radius: 10px;
          margin-top: 20px;
          justify-content: space-evenly;
          .table {
              width: 100%;
              margin: 15px auto;
              .table-body {
                  .upgrade-button {
                      border: none;
                      background-color: #3761EE;
                      color: #FFFFFF;
                      padding: 5px 15px;
                      border-radius: 20px;
                      cursor: pointer;
                      align-self: center;
                      margin-left: 10px;
                      font-size: 0.8rem;
                  }
              }
          }
    
        }
      }
    
      .bottom-button-container {
        display: none;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        position: sticky;
        bottom: 0;
        background-color: white;
        padding-bottom: 50px;
      }
    }
  }
}