.profile-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 10px;
    .name-container {
        .name {
            font-weight: 600;
            font-size: 1.8rem;
            margin: 0;
        }

        .designation {
            color: #52e1e2;
            font-weight: 600;
            font-size: 1.2rem;
        }
    }
    .profile-image {
        width: 75px;
        height: 75px;
        border: 3px solid #3761ee;
        cursor: pointer;
    }

    .filter-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                background-color: white;
                flex-wrap: wrap;
                align-items: flex-end;
                .year-picker {
                    min-width: 100px;
                    .picker-input {
                        border: 1px solid rgba(204, 204, 204, 0.623);
                        padding: 10px 5px;
                        margin-right: 10px;
                    }
                }
                .department-picker {
                    min-width: 100px;
                    margin-right: 15px;
                    .picker-input {
                        border: 1px solid rgba(204, 204, 204, 0.623);
                        padding: 10px 5px;
                    }
                }
                .search-button {
                    border: none;
                    background-color: #3761EE;
                    color: #FFFFFF;
                    padding: 5px 15px;
                    border-radius: 100px;
                    cursor: pointer;
                    margin-left: 10px;
                    font-size: 0.8rem;
                    margin-bottom: 15px;
                }
            }
}



@media (max-width: 500px) {
    .profile-content {
        .name-container {
            .name {
                font-size: 1.5rem;
            }

            .designation {
               
                font-size: 1.2rem;
            }
        }
        .profile-image {
            width: 70px;
            height: 70px;
            border: 3px solid #3761ee;
        }
    }
}

@media (max-width:450px) {
    .profile-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
       
        .name-container {
            .name {
                font-weight: 600;
                font-size: 1.5rem;
                margin: 0;
            }
    
            .designation {
                color: #52e1e2;
                font-weight: 600;
                font-size: 1rem;
            }
        }
        .profile-image {
            width: 50px;
            height: 50px;
            border: 3px solid #3761ee;
            cursor: pointer;
        }
    }
}
