.all-post-content-container {
    margin-top: 35px;
    padding: 0 40px;
    width: 100%;
    
}

@media (max-width: 530px) {
    .all-post-content-container {
        padding: 0 10px;
        grid-gap: 15px;
    }
}

@media (max-width: 450px) {
    .all-post-content-container {
        
    }
}
