.company-profile-container {
    margin-top: 35px;
    padding: 0 40px;
    width: 100%;
    .company-profile-content {
        background-color: white;
        padding: 10px 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-top: 40px;
        margin-bottom: 60px;
        .section-title {
            font-weight: 600;
            font-size: 1.4rem;
            margin: 0;
            margin-top: 10px;
            margin-bottom: 40px;
        }

        .image-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            .profile-logo {
                width: 120px;
                height: 120px;
                margin: 0 auto;
                margin-bottom: 10px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                font-size: 14px;
                border: 1px solid #3761EE;
                span {
                    margin-top: 5px;
                }
            }
            .picture-tag {
                font-size: 0.8rem;
                font-weight: 600;
                color: #838383;
                margin-bottom: 30px;
                cursor: pointer;
            }  
        }

        .main-form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            .text-label {
                font-weight: 500;
                margin-left: 10px;
            }

            .text-input {
                background: #ffffff;
                box-shadow: 0px 0px 14px -1px #e5e5e5;
                border-radius: 9px;
                border: none;
            }

            .first-half {
                grid-column: 1 / 2;
            }

            .second-half {
                grid-column: 2 / 3;
            }

            .end-to-end {
                grid-column: 1 / 3;
            }
            .error-tag {
                font-size: 1rem;
                color: #3761ee;
                font-weight: 600;
                align-self: flex-end;
                text-align: end;
                text-decoration: underline;
                margin-top: 15px;
                cursor: pointer;
            }

            .download-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-bottom: 50px;
                cursor: pointer;
        
                .download-tag {
                    font-size: 1.1rem;
                    font-weight: 700;
                    color: #3761EE;
                    margin-left: 10px;
                    text-decoration: underline;
                    align-self: center;
                }
            }
        }
    }
}

@media (max-width: 650px) {
    .company-profile-container {
        .company-profile-content {
            .main-form {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 20px;
                .text-label {
                    font-weight: 500;
                    margin-left: 10px;
                }

                .text-input {
                    background: #ffffff;
                    box-shadow: 0px 0px 14px -1px #e5e5e5;
                    border-radius: 9px;
                    border: none;
                }

                .first-half {
                    grid-column: 1 / 3;
                }

                .second-half {
                    grid-column: 1 / 3;
                }

                .end-to-end {
                    grid-column: 1 / 3;
                }
            }
        }
    }
}

@media (max-width: 530px) {
    .company-profile-container {
        padding: 0 10px;
        grid-gap: 15px;
    }
}

@media (max-width: 450px) {
    .company-profile-container {
    }
}
