.table-item {
    padding: 15px 5px;
    .upgrade-button {
        border: none;
        background-color: #3761EE;
        color: #FFFFFF;
        padding: 5px 15px;
        border-radius: 20px;
        cursor: pointer;
        align-self: center;
        margin-left: 10px;
        font-size: 0.8rem;
    }
    .table-action-items {
        .table-action-items-container {
            display: flex;
            align-items: center;
            
            .table-actions {
                background-color: #ccc;
                margin-right: 10px;
                padding: 2px 15px;
                border-radius: 100px;
                font-size: 0.8rem;
                font-weight: 600;
                color: white;
                cursor: pointer;
            }
            .primary {
                background-color: #3761ee;
            }
            .secondary {
                background-color: #52e1e2;
               
            }
        }
    }
}

@media (max-width: 910px) {
    .table-item {
        .table-action-items {
            .table-action-items-container {
                justify-content: center;
                flex-direction: column;
                .table-actions {
                    width: 100%;
                    text-align: center;
                }
                
                .secondary {
                   margin-top: 10px;
                   
                }
            }
        }
    }
}
