.manage-students-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  .manage-students-content {

    .students-list-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: #fff;
      border-radius: 10px;
      margin-top: 20px;
      justify-content: space-evenly;
      padding: 20px;
      .title-button-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .section-title {
          font-weight: 600;
          font-size: 1.4rem;
          margin: 0;
          margin-top: 10px;
          margin-bottom: 20px;
        }
      }
    
      .filter-container2 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: white;
        flex-wrap: wrap;
        align-items: flex-end;
        .year-picker2 {
            width: 150px;
            margin-right: 20px;
            .picker-input {
              width: 150px;
                border: 1px solid rgba(204, 204, 204, 0.623);
                padding: 10px 5px;
                margin-right: 10px;
            }
        }
        .department-picker2 {
            width: 300px;
            margin-right: 15px;
            .picker-input {
                width: 300px;
                border: 1px solid rgba(204, 204, 204, 0.623);
                padding: 10px 5px;
            }
        }
        .search-button2 {
            border: none;
            background-color: #3761ee;
            color: #ffffff;
            padding: 5px 15px;
            border-radius: 100px;
            cursor: pointer;
            margin-left: 10px;
            font-size: 0.8rem;
            margin-bottom: 15px;
        }
    }
      
    .table {
      width: 95%;
      margin: 15px auto;
      .table-body {
          .upgrade-button {
              border: none;
              background-color: #3761EE;
              color: #FFFFFF;
              padding: 5px 15px;
              border-radius: 20px;
              cursor: pointer;
              align-self: center;
              margin-left: 10px;
              font-size: 0.8rem;
          }
      }
    }

    .loading-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0px;
      .empty-label {
        font-size: 0.9rem;
        color: #969696;
        user-select: none;
      }

    }
  }
}
}

@media (max-width:700px) {
  .manage-students-content-container {
    padding: 20px;
    
  }
}

@media (max-width:500px) {
  .manage-students-content-container {
    padding: 10px;
    .manage-students-content {
  
      .students-list-container {
        padding: 10px;
        .title-button-container {
          flex-direction: column;
          .section-title {
            align-self: flex-start;
          }
          .add-students-drop-down {
            align-self: flex-end;
            margin-bottom: 20px;
          }
        }
      
        .filter-container2 {
          
          .search-button2 {
            margin-top: 20px;
          }
      }
        
      .table {
        width: 95%;
        margin: 15px auto;
        .table-body {
            .upgrade-button {
                border: none;
                background-color: #3761EE;
                color: #FFFFFF;
                padding: 5px 15px;
                border-radius: 20px;
                cursor: pointer;
                align-self: center;
                margin-left: 10px;
                font-size: 0.8rem;
            }
        }
      }
  
      .loading-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0px;
        .empty-label {
          font-size: 0.9rem;
          color: #969696;
          user-select: none;
        }
  
      }
    }
  }
  }
}


