.placement-stats-container {
    display: grid;
    grid-gap: 25px;
    margin-top: 35px;
    padding: 0 40px;
    width: 100%;
    .table-content {
      margin-top: 20px;
    }
  }
  
  @media (max-width:530px) {
    .placement-stats-container {
      padding: 0 10px;
      grid-gap: 15px;
    }
  }