.signup-container {
    padding: 10px 20px;
    background-color: #f1f7ff;
    min-height: 100vh;
    .main-container {
        margin-top: 40px;
        .main-box {
            background-color: white;
            max-width: 50%;
            margin: 0 auto;
            padding: 20px 0px;
            font-weight: 500;
            margin-bottom: 100px;
            border-top: 3px solid #3761ee;
            .labels {
                padding: 0 50px;
                .new-account-label {
                    color: #3761ee;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }

        .separator {
            height: 4px;
            color: #d1e4fd;
            margin-top: 40px;
        }

        .bottom-options {
            display: flex;
            flex-direction: row;
            color: #3761ee;
            .labels {
                padding-left: 50px;
                padding-right: 10px;
            }
            .label-button {
                padding-left: 0px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .signup-container {
        .main-container {
            .main-box {
                max-width: 70%;
            }
        }
    }
}

@media (max-width: 800px) {
    .signup-container {
        .main-container {
            .main-box {
                max-width: 90%;
            }
        }
    }
}

@media (max-width: 600px) {
    .signup-container {
        .main-container {
            .main-box {
                max-width: 100%;
                .labels {
                    padding: 0 20px;
                }
            }

            .bottom-options {
                flex-direction: column;

                .labels {
                    padding-left: 20px;
                    padding-right: 10px;
                }
                .label-button {
                    padding-left: 20px;
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .login-container {
        .main-container {
            .main-box {
                max-width: 100%;
                .labels {
                    padding: 0 20px;
                }
            }
        }
    }
}
